* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

ul li {
  list-style: none;
}

.container {
  max-width: 980px;
  background: rgb(204, 203, 203);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 40%;
  border-radius: 10px;
  overflow-y: scroll;
}

.card-list {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.card-item {
  width: 40%;
  height: auto;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  animation: scroll-down 1.5s ease-in-out;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.card-content {
  background: rgb(202, 201, 201);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(
    35% 20%,
    59% 0,
    100% 23%,
    100% 100%,
    80% 100%,
    20% 100%,
    0 100%,
    0 0
  );
  gap: 25px;
  width: 100%;
}

.avatar-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar-bg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.bg-color {
  padding-bottom: 100%;
}

.bg-color::after {
  background: linear-gradient(to bottom right, #a1a5a7, #1b2731);
  mix-blend-mode: multiply;
}

.sm {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.clip-path {
  clip-path: polygon(
    37% 0,
    70% 20%,
    100% 1%,
    100% 100%,
    80% 100%,
    20% 100%,
    0 100%,
    0 22%
  );
}

.card_name {
  font-size: 15px;
}

.card_email {
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
  padding-top: 3px;
}

/* loading */

.loader-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.loader-container::-webkit-scrollbar {
  width: 0 !important;
  overflow: hidden;
}

.loader {
  border: 5px dotted #dadada;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes scroll-down {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
